/* Enlever les espaces autour de la fenetre*/
* { 
	margin:0; padding:0; 
}

/* Full screen */
html, body { 
	width:100%; height:100%; 
} 

section {
	padding:0px;
}

section#sectionGenerale {
	position: relative;
	width: 100%;
	height: 100%;
}

section#sectionPresets{
	position: relative;
	width: 100%;
	height: 70%;
}

/*form#presetChoixForm {
	top: 0;
	left: 0;
	position: absolute;
}*/

select#presetChoix {
	top: 0;
	left: 0;
	position: absolute;
}

/* Affichage d'un preset */
.divPreset {
	position: absolute;
	border:1px solid #000000;
	width: 50px;
	height: 100px;
}

.divPresetNormal {
	top: 50px;
	left: 50px;
	background-color: blue;
}

/* Affichage d'un preset debut */
.divPresetDeb {
	top: 40%;
	left: 10%;
	right: auto;
	background-color: green;
}

/* Affichage d'un preset fin */
.divPresetFin {
	top: 40%;
	left: auto;
	right: 10%;
	background-color: red;
}

/* Affichage des presets en total */
div#affichagePresents {
	border:1px solid #000000;
	width: 100%;
	height: 100%;
}

section#sectionEffets{
}